extends layout

block content
	.title Quest!
	div
		|Quest is a unique system of building Quest Trees.&nbsp;
		a(href="signup") Sign up&nbsp;
		| or&nbsp;
		a(href="login") Log In&nbsp;
		| to start working with quests.