extends layout

block content
	.title Log In
	.stackedInput
		input(value="User Name") 
	.stackedInput
		input(value="Password")
	.stackedInput
		button Log In
		|&nbsp;
		a(href="resetPassword") Reset Password